.parserCode {
  width: 100%;
  height: 100%;
}
.testParser {
  width: 100%;
  height: 100%;
  position: relative;
}
.testTitle, .parserTitle {
  font-size: 15px;
  color: #344f71;
  margin-bottom: 10px;
}
.testOutput, .parserOutput {
  width: 100%;
  height: 300px;
  resize: none;
  outline: none;
}